n8n-flow.json
{
  "name": "AI-n8n-website_story-generation-upload-flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-48, -272],
      "id": "5f1f7450-4ff2-411f-8dfc-062ab1dcfc3f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "<prompt_url>"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [160, -272],
      "id": "2083060c-ce6e-4fd8-9e9c-412aa39c2d1e",
      "name": "prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.content }}"
            },
            {
              "content": "Give me a story."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [368, -272],
      "id": "350860e9-1916-4211-91a2-3f52ce912e20",
      "name": "generate a new story"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "title",
              "value": "={{ $json.output[0].content[0].text.title }}",
              "type": "string"
            },
            {
              "name": "story",
              "value": "={{ $json.output[0].content[0].text.story }}",
              "type": "string"
            },
            {
              "name": "ending",
              "value": "={{ $json.output[0].content[0].text.ending }}",
              "type": "string"
            },
            {
              "name": "meta_title",
              "value": "={{ $json.output[0].content[0].text.seo.meta_title }}",
              "type": "string"
            },
            {
              "name": "meta_description",
              "value": "={{ $json.output[0].content[0].text.seo.meta_description }}",
              "type": "string"
            },
            {
              "name": "meta_keywords_0",
              "value": "={{ $json.output[0].content[0].text.seo.meta_keywords[0] }}",
              "type": "string"
            },
            {
              "name": "meta_keywords_1",
              "value": "={{ $json.output[0].content[0].text.seo.meta_keywords[1] }}",
              "type": "string"
            },
            {
              "name": "meta_keywords_2",
              "value": "={{ $json.output[0].content[0].text.seo.meta_keywords[2] }}",
              "type": "string"
            },
            {
              "name": "meta_keywords_3",
              "value": "={{ $json.output[0].content[0].text.seo.meta_keywords[3] }}",
              "type": "string"
            },
            {
              "name": "meta_keywords_4",
              "value": "={{ $json.output[0].content[0].text.seo.meta_keywords[4] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [704, -272],
      "id": "fe060cfd-be2c-4664-ba2c-96041d382cb9",
      "name": "keep necessary data"
    },
    {
      "parameters": {
        "tableId": "stories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title || '' }}"
            },
            {
              "fieldId": "story",
              "fieldValue": "={{ $json.story || '' }}"
            },
            {
              "fieldId": "ending",
              "fieldValue": "={{ $json.ending || '' }}"
            },
            {
              "fieldId": "meta_title",
              "fieldValue": "={{ $json.meta_title }}"
            },
            {
              "fieldId": "meta_description",
              "fieldValue": "={{ $json.meta_description }}"
            },
            {
              "fieldId": "meta_keywords",
              "fieldValue": "={{ [$json.meta_keywords_0,$json.meta_keywords_1,$json.meta_keywords_2,$json.meta_keywords_3,$json.meta_keywords_4] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [944, -272],
      "id": "43ee93ea-11da-4b0a-964c-76b0fdf4850e",
      "name": "upload story into db"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<api_endpoint>",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "id", "value": "={{ $json.id }}" },
            { "name": "created_at", "value": "={{ $json.created_at }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "story", "value": "={{ $json.story }}" },
            { "name": "ending", "value": "={{ $json.ending }}" },
            { "name": "meta_title", "value": "={{ $json.meta_title }}" },
            { "name": "meta_description", "value": "={{ $json.meta_description }}" },
            { "name": "meta_keywords", "value": "={{ $json.meta_keywords }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1168, -272],
      "id": "bc4bbf3f-fcec-4e46-b779-aeddb765fc71",
      "name": "upload story API call"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "prompt", "type": "main", "index": 0 }]]
    },
    "prompt": {
      "main": [[{ "node": "generate a new story", "type": "main", "index": 0 }]]
    },
    "generate a new story": {
      "main": [[{ "node": "keep necessary data", "type": "main", "index": 0 }]]
    },
    "keep necessary data": {
      "main": [[{ "node": "upload story into db", "type": "main", "index": 0 }]]
    },
    "upload story into db": {
      "main": [[{ "node": "upload story API call", "type": "main", "index": 0 }]]
    },
    "upload story API call": {
      "main": [[]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
